.texto-explicativo{
    text-align: center;
}
.texto-explicativo h1 {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(44, 63, 40);
    font-size: 2vw;
}
.texto-explicativo p {
    color: rgb(46, 49, 46);
    line-height: 150%;
    margin: 1.5vw 1vw;
    font-size: 1.3vw;
    text-align: justify;
    text-indent: 2em;
}
.texto-explicativo ul {
    margin: 1.5vw 3vw;
    padding-left: 2em;
    text-align: left;
    font-size: 1.15vw;
    color: rgb(46, 49, 46);
    list-style-type: disc;
}

@media (max-width: 1200px) {
    .texto-explicativo h1 {
        font-size: 5vw;
    }
    .texto-explicativo p {
        font-size: 3.5vw;
        margin: 3vw 2vw;
    }
    .texto-explicativo ul {
        font-size: 3vw;
        margin: 3vw 4vw;
        padding-left: 1em;
    }
}
@media (max-width: 600px) {
    .texto-explicativo h1 {
        font-size: 7vw;
    }
    .texto-explicativo p {
        font-size: 4.5vw;
        margin: 4vw 2vw;
        text-indent: 1em;
    }
    .texto-explicativo ul {
        font-size: 4vw;
        margin: 4vw 2vw;
        padding-left: 0.8em;
    }
}