.texto-explicativo{
    text-align: center;
}
.texto-explicativo h1 {
    margin-top: 4vw;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(44, 63, 40);
    font-size: 2vw;
}
.texto-explicativo p {
    color: rgb(46, 49, 46);
    line-height: 150%;
    margin: 1.5vw 1vw 0.5vw 1vw;
    font-size: 1.3vw;
    text-align: justify;
    text-indent: 2em;
}
.texto-explicativo ul {
    margin: 0vw 3vw 1.5vw 3vw;
    padding-left: 2em;
    text-align: left;
    font-size: 1.15vw;
    color: rgb(46, 49, 46);
    list-style-type: disc;
}
.texto-explicativo li{
    margin-bottom: 1.5vw;
}

@media (max-width: 900px) {
    .texto-explicativo {
        padding: 0 5vw;
    }
    .texto-explicativo h1 {
        padding: 0;
        font-size: 1.7rem;
    }
    .texto-explicativo p {
        padding: 0;
        font-size: 1rem;
        margin: 5vw 0.3vw 1.5vw 0.05vw;
        text-indent: 0;
        text-align: left;
    }
    .texto-explicativo ul {
        padding: 0;
        font-size: 0.9rem;
        margin: 0 4vw 3vw 4vw;
        padding-left: 1em;
    }
}
@media (max-width: 600px) {
    .texto-explicativo h1 {
        font-size: 2rem;
    }
    .texto-explicativo p {
        font-size: 1.125rem;
        margin: 7vw 0.1vw 1.5vw 0.02vw;
        text-indent: 0;
        text-align: left;
    }
    .texto-explicativo ul {
        font-size: 1rem;
        margin: 3vw 4vw;
        padding-left: 1em;
    }
}